p{
    color: yellow;
}
h2{
    color: yellow;
}
.div{
    margin: 20px;
}
span{
    display: inline-table;
    padding: 30px;
    margin: 40px;
    margin-left: 50px;
    width: 225px;
    height: 200px;
    background-color: black;
}
button{
    color:black ;
    background-color: yellow;
    font-family:  poppins;
    font-style: bold;
    border-radius: 20px;
    margin-left:60px ;
    border: solid rebeccapurple 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    box-shadow:rebeccapurple 3px 3px 3px;
    font: 1em poppins;
}
img:hover{
    box-shadow:white 4px 4px 4px;
}
